@import "tailwindcss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .task-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

